// Variables
// ======================================

// Base
$base-em: rem(16) !default;
$font-size-base: $base-em;

$line-height-base: 1.25;

// Fonts
$font-main: 'Montserrat', sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;

// Fonts sizes
$font-size-12: rem(12);
$font-size-14: rem(14);
$font-size-16: rem(16);
$font-size-18: rem(18);
$font-size-24: rem(24);
$font-size-28: rem(28);
$font-size-46: rem(46);

$line-height-30: rem(30);

// Colors
$color-yellow: #ffe600;
$color-dark: #333333;
$color-gray: #666666;
$color-gray-light: #999999;
$color-gray-lighter: #eeeeee;
$color-blue: #3483fa;
$color-blue-dark: #2968c8;
$color-black: #000000;
$color-white: #ffffff;

$color-main: $color-yellow;
$color-secondary: $color-blue;

$color-link: $color-blue;

// Breakpoints
$breakpoint-sm: 576;
$breakpoint-md: 768;
$breakpoint-lg: 992;
$breakpoint-xl: 1200;

// Grid and Layout
$grid-cols: 12;
$gutter-sm: rem(8);
$gutter-md: rem(16);
$gutter-lg: rem(32);
$container-width: rem($breakpoint-xl);
$gutter-container: $gutter-md;
$gutter: $gutter-sm;

// Box Shadows
$box-shadow: 0 rem(1) rem(1) 0 rgba(0, 0, 0, 0.1);
