.breadcrumbs {
  &__list {
    font-size: $font-size-14;

    min-height: rem(18);
  }

  &__link {
    color: $color-gray-light;
    text-decoration: none;
  }

  &__active {
    font-weight: $font-weight-semibold;
  }
}
