.product-card {
  &__container {
    display: flex;

    border-bottom: rem(1) solid $color-gray-lighter;
  }

  &__picture {
    display: inline-block;

    border-radius: rem(4);

    width: 100%;
    max-height: 180px;

    &-container {
      @include flex-center;

      width: rem(180);
      height: rem(180);
    }
  }

  &__price {
    font-size: $font-size-24;
  }

  &__title {
    font-size: $font-size-18;
  }

  &__title-link {
    color: $color-dark;
    text-decoration: none;
  }

  &__city {
    color: $color-gray;
    font-size: $font-size-12;
  }
}
