.product-detail {
  & &__info {
    padding-left: $gutter-lg;
  }

  &__image-container {
    text-align: center;

    margin-bottom: rem(128);

    width: rem(630);
  }

  &__product-image {
    min-width: 100%;
    max-height: rem(630);
  }

  &__product-status {
    font-size: $font-size-14;
  }

  &__product-title {
    font-size: $font-size-24;

    text-transform: capitalize;
  }

  &__product-price {
    font-size: $font-size-46;
  }

  &__buy-btn {
    width: 100%;
  }

  &__desc-title {
    display: block;

    font-size: $font-size-28;
    font-weight: $font-weight-semibold;

    margin-bottom: $gutter-lg;
  }

  &__desc-txt {
    color: $color-gray;

    word-break: break-all;
  }
}
