.product-detail {
  & &__info {
    padding-left: $gutter-lg;
  }
  &__product-image {
    margin-bottom: rem(128);
  }

  &__product-status {
    font-size: $font-size-14;
  }

  &__product-title {
    font-size: $font-size-24;

    text-transform: capitalize;
  }

  &__product-price {
    font-size: $font-size-46;
  }

  &__buy-btn {
    width: 100%;
  }

  &__desc-title {
    font-size: $font-size-28;
  }

  &__desc-txt {
    color: $color-gray-light;
  }
}
